

p {
	
	font-size: 50px;
	font-family: "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 1.5;
	color: #38da8e;

	}

#text-red {
	color: red;
}

.text-orange {
	color: orange;
}